$font-regular: 'NeueHaasGroteskText W01', 'helvetica neue', helvetica, arial, sans-serif;
$font-bold:    'NHaasGroteskDSW01-75Bd', 'helvetica neue', helvetica, arial, sans-serif;

$colors: (
  primary: #FFDB00
);
